# Template for variable values.

aws_region        = "eu-north-1"
project_name      = "terraform-beginner-project"
bucket_name       = "gowtham-terraform"
my_ip             = "YOUR_PUBLIC_IP/32"
ec2_ami           = "ami-0c1ac8a41498c1a9c"
ec2_instance_type = "t3.micro"
